html, body {
    height: 100%;
    width: 100%;
    background-color: #eee;
    padding: 0;
    margin: 0;
    font-size: large;
    position: absolute;
}

header {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

article {
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

/*
 * index
 */
#menu {
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
}

#dashboard {
    padding: 5px;
}

/*
 * dashboard
 */
.submenu {
    display: block;
    visibility: visible;
}

.submenu-hidden {
    display: block;
    visibility: hidden;
}

article {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
}

#commentForm input, textarea {
    width: 100%
}

.dashboardMenu li {
    list-style-type: none;
}

.dashboardMenu li a {
    width: 100%;
}

.dashboardMenu li.active {
    background-color: #ff0000;
}

.dashboardMenu ul {
    padding-left: 0;
}

.dashboard-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

/*
 * edit
 */
#output {
    background-color: #fff;
}

#editForm #headline {
    padding: 5px;
    border: hidden;
    width: 100%;
    margin-bottom: 10px;
}

#editForm #post-content {
    min-width: 100%;
    max-width: 100%;
}

#formmenu-container {
    margin-right: -30px;
    margin-top: 15px;
}

#formMenu {
    float: right;
}

.clear {
    clear: both;
}